<!-- Terraform graph beautifier test template -->
<!doctype html>
<html lang="en">
<head>
    <title>{{.PageTitle}}</title>
</head>
<body>
<script>
    const elements = {{.GraphElementsJSON}}
</script>
</body>
</html>
